﻿
@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/angular.js"></script>
<h2>Index</h2>
<div ng-app="Demo">
    <div ng-controller="demoController">
        <input type="text" ng-model="personName" />
        <br />
        <input type="text" ng-model="personAddress" />
        <br />
        <p>Hello {{person.Name}}</p>
        <br />
        <input type="button" ng-click="AddPerson()" value="Addperson" />
        <br />
        <table class="table table-responsive">
            <thead>
                <tr><th>Name</th><th>Address</th></tr>
            </thead>
            <tbody>
                <tr ng-repeat="person in persons"><td>{{person.Name}}</td><td>{{person.Address}}</td></tr>
            </tbody>
        </table>
    </div>

</div>
<script type="text/javascript">
    var app = angular.module('Demo', []);
    app.controller('demoController', function ($scope) {
        $scope.persons = [];
        $scope.AddPerson = function () {
            $scope.persons.push({
                Name: $scope.personName,
                Address: $scope.personAddress
            });
            $scope.personName = "";
            $scope.personAddress = "";
        }
    });
</script>